In [2]:
import pandas as pd

In [3]:

def analyze(filename):
    times = []
    srcs = []
    dsts = []
    lengths = []
    # Read file and parse into dataframe
    with open(filename, 'r') as f:
        lines = f.readlines()
        packets = []
        for line in lines:
            split_line = line.split(' ')
            time, src, dst, length = split_line[0], split_line[2], split_line[4], int(split_line[-1].strip())
            src, dst = src.split('.')[-1], dst.split('.')[-1][:-1]
            times.append(time)
            srcs.append(int(src))
            dsts.append(int(dst))
            lengths.append(length)
    df = pd.DataFrame({'time': times, 'src': srcs, 'dst': dsts, 'length': lengths})

    # Filter for nonzero messages
    nonzero_msgs = df[df['length'] > 0]
    nonzero_msgs['port'] = nonzero_msgs[['src', 'dst']].min(axis=1)

    # Get statistics for each port and concat together
    port_length_infos = []
    for port, port_df in nonzero_msgs.groupby('port'):
        description = port_df['length'].describe()
        description.name = port
        port_length_infos.append((port, description))
    res = pd.concat([port_info for port, port_info in port_length_infos], axis=1)
    
    return res

In [4]:
analyze('packets_clean.txt')

/var/folders/jh/pp3c19bx37g_n7xf9839bxv80000gn/T/ipykernel_26937/2229816187.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nonzero_msgs['port'] = nonzero_msgs[['src', 'dst']].min(axis=1)

,6000,6001,6002,6003,6004,6005,6006
count,71873.000000,1552.000000,238.000000,25690.000000,5928.000000,7904.000000,4697.000000
mean,125.622278,60.359536,43.836134,142.106423,266.848516,46.721027,58.947200
std,856.784877,603.091601,240.649391,1060.850636,1827.355904,556.567954,703.499925
min,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
25%,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
50%,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
75%,37.000000,36.000000,36.000000,37.000000,37.000000,36.000000,36.000000
max,16332.000000,16332.000000,3726.000000,16332.000000,16332.000000,16332.000000,16332.000000

In [6]:
analyze('packets_medium_clean.txt')

/var/folders/jh/pp3c19bx37g_n7xf9839bxv80000gn/T/ipykernel_26937/2229816187.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nonzero_msgs['port'] = nonzero_msgs[['src', 'dst']].min(axis=1)

               6000          6001          6002         6003
count    635.000000    626.000000    461.000000    88.000000
mean     159.722835    140.546326     59.318872    62.852273
std     1241.299908   1145.903038    487.470615   319.531753
min        9.000000      9.000000      9.000000     9.000000
25%       17.000000     17.000000     17.000000    17.000000
50%       17.000000     17.000000     17.000000    17.000000
75%       37.000000     37.000000     36.000000    36.000000
max    16332.000000  16332.000000  10125.000000  3017.000000

In [7]:
analyze('packets_small_clean.txt')

/var/folders/jh/pp3c19bx37g_n7xf9839bxv80000gn/T/ipykernel_26937/2229816187.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nonzero_msgs['port'] = nonzero_msgs[['src', 'dst']].min(axis=1)

               6000         6001         6002         6003
count    204.000000   102.000000    74.000000    80.000000
mean     115.593137   116.794118    69.527027    78.812500
std     1017.616459   814.735204   337.688201   408.292278
min        9.000000     9.000000     9.000000     9.000000
25%       17.000000    17.000000    17.000000    17.000000
50%       17.000000    17.000000    17.000000    17.000000
75%       37.000000    39.000000    39.000000    39.000000
max    14539.000000  8251.000000  2926.000000  3674.000000